.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding: 10px;
}

.dialogItems .dialog {
    padding: 5px;
}

.dialogItems .active {
    color: #fff;
}

.messages {
    padding: 10px;
}

.messages .message {
    padding: 5px;
}